<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vote">
            <h2><span>Vote</span> {{vote.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User</span></dt>
                <dd>
                    {{vote.userLogin}}
                </dd>
                <dt><span>Option</span></dt>
                <dd>
                    <div *ngIf="vote.optionId">
                        <a [routerLink]="['/option', vote.optionId, 'view']">{{vote.optionName}}</a>
                    </div>
                </dd>
                <dt><span>Poll</span></dt>
                <dd>
                    <div *ngIf="vote.pollId">
                        <a [routerLink]="['/poll', vote.pollId, 'view']">{{vote.pollName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vote', vote.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
