<div>
    <h2 id="page-heading">
        <span>Votes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vote" [routerLink]="['/vote/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Vote
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="votes?.length === 0">
        <span>No votes found</span>
    </div>
    <div class="table-responsive" *ngIf="votes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>User</span></th>
            <th scope="col" ><span>Option</span></th>
            <th scope="col" ><span>Poll</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vote of votes ;trackBy: trackId">
                <td><a [routerLink]="['/vote', vote.id, 'view' ]">{{vote.id}}</a></td>
                <td>
                    {{vote.userLogin}}
                </td>
                <td>
                    <div *ngIf="vote.optionId">
                        <a [routerLink]="['/option', vote.optionId , 'view' ]" >{{vote.optionName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vote.pollId">
                        <a [routerLink]="['/poll', vote.pollId , 'view' ]" >{{vote.pollName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/vote', vote.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vote', vote.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vote', { outlets: { popup: vote.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
