<div th:fragment="searchPolls">
    <th:block th:with="searchNameParam = ${#httpServletRequest.getParameter('name')}">
        <div class="float-left">
            <form method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" th:value="${searchNameParam}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </th:block>
</div>
