<th:block th:fragment="votesAnswers">
    <div class="col-md-12">
    <div class="form-group">
        <th:block th:each="option : ${options}">
            <div class="row">
                <div class="col-md-3">
                    <div class="icheck-primary d-inline">
                        <input type="radio" th:id="${'option'+option.id}" th:value="${option.id}" name="optionId" disabled th:checked="${option.id == votedOptionId}">
                        <label th:for="${'option'+option.id}" th:text="${option.name}" style="margin:5px auto">
                        </label>
                    </div>
                </div>
                <div class="col-md-8" style="margin-top:9px">
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" th:aria-valuenow="${optionPercentage.get(option.id)}" aria-valuemin="0" aria-valuemax="100" th:style="'width:'+ @{${optionPercentage.get(option.id)}} +'%'">
                            <span class="sr-only" th:text="${optionPercentage.get(option.id)} + ' % Complete (success)'"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1" style="margin-top:4px">
                    <span class="text-primary" th:text="${optionPercentage.get(option.id)} + ' %'">40 %</span>
                </div>
            </div>
            <br>
        </th:block>
    </div>
    <div>
        <span class="text-muted" th:text="${totalVotes+' Votes'}"></span>
    </div>
</div>
</th:block>

<th:block th:fragment="vote">
    <div class="col-md-6 offset-md-3">
        <form method="post" th:action="@{/mvc/vote/{pollId}(pollId=*{id})}">
            <h4>Options</h4>
            <div class="form-group">
                <th:block th:each="option : ${options}">
                    <div class="icheck-primary d-inline">
                        <input type="radio" th:id="${'option'+option.id}" th:value="${option.id}" name="optionId">
                        <label th:for="${'option'+option.id}" th:text="${option.name}" style="margin:5px auto">
                        </label>
                    </div><br>
                </th:block>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Submit Vote"/>
            </div>
        </form>
    </div>
</th:block>

<th:block th:fragment="disabledvote">
    <div class="col-md-6 offset-md-3">
            <h4>Options</h4>
            <div class="form-group">
                <th:block th:each="option : ${options}">
                    <div class="icheck-primary d-inline">
                        <input type="radio" th:id="${'option'+option.id}" th:value="${option.id}" name="optionId" disabled>
                        <label th:for="${'option'+option.id}" th:text="${option.name}" style="margin:5px auto">
                        </label>
                    </div><br>
                </th:block>
            </div>
    </div>
</th:block>
