<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org/">
<head>
    <title>Create Poll</title>
    <th:block th:include="shared/head :: head"></th:block>
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <style>
        input.parsley-success,
        select.parsley-success,
        textarea.parsley-success {
          color: #468847;
          background-color: #DFF0D8;
          border: 1px solid #D6E9C6;
        }

        input.parsley-error,
        select.parsley-error,
        textarea.parsley-error {
          color: #B94A48;
          background-color: #F2DEDE;
          border: 1px solid #EED3D7;
        }

        .parsley-errors-list {
          margin: 2px 0 3px;
          padding: 0;
          list-style-type: none;
          font-size: 0.9em;
          line-height: 0.9em;
          opacity: 0;
          color: #B94A48;

          transition: all .3s ease-in;
          -o-transition: all .3s ease-in;
          -moz-transition: all .3s ease-in;
          -webkit-transition: all .3s ease-in;
        }

        .parsley-errors-list.filled {
          opacity: 1;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block th:include="shared/header :: header"></th:block>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Create poll</h1>
                    </div>
                    <!--                    <div class="col-sm-6">-->
                    <!--                        <ol class="breadcrumb float-sm-right">-->
                    <!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                    <!--                            <li class="breadcrumb-item active">Dashboard v1</li>-->
                    <!--                        </ol>-->
                    <!--                    </div>&lt;!&ndash; /.col &ndash;&gt;-->
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Create Poll
                                </h3>
                            </div>

                            <form role="form" data-parsley-validate id="form" method="post" action="/mvc/poll">
                                <div class="card-body row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" required class="form-control" name="name" id="name" placeholder="Poll Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <textarea id="description" required name="description" class="form-control" rows="3" placeholder="Poll Description..." style="margin-top: 0px; margin-bottom: 0px; height: 87px;"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label >Date range:</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                  </span>
                                                </div>
                                                <input type="text" required class="form-control float-right" id="date" name="date">
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label>Category</label>
                                            <select required class="form-control" data-parsley-errors-container="#categoryError" id="select2" name="category_id" style="width: 100%;">
                                                <option></option>
                                                <th:block th:each="category : ${categories}">
                                                    <option th:value="${category.id}" th:text="${category.name}"></option>
                                                </th:block>
                                            </select>

                                            <div id="categoryError"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <button type="button" id="addOptionButton" class="btn btn-sm btn-success float-right" onclick="AddOption();"><i class="fas fa-plus"></i></button>
                                            <h4> Options... </h4>
                                        </div>
                                        <div id="options">
                                            <div class="form-group">
                                                <input type="text" required class="form-control" name="option[]" id="option1" placeholder="Option 1">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" required class="form-control" name="option[]" id="option2" placeholder="Option 2">
                                                <div data-parsley-errors-container="#option2"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block th:include="shared/footer :: footer"></th:block>

</div>
<th:block th:include="shared/script :: script"></th:block>
<!--  Select 2  -->
<script src="/plugins/select2/js/select2.full.min.js"></script>
<script src="/plugins/parsley/parsley.min.js"></script>
<script src="/plugins/sweetalert2/sweetalert2.all.min.js"></script>
<script th:inline="javascript">
    var optionTemplate = '<div class="form-group">'
                       + '<div class="input-group">'
                       + '<input type="text" data-parsley-errors-container="#errorOption%i%" required class="form-control" name="option[]" id="option%i%" placeholder="Option %i%">'
                       + '<span class="input-group-append">'
                       + '<button type="button" class="btn btn-danger btn-flat" onclick="RemoveOption();"> <i class="fas fa-minus"></i> </button>'
                       + '</span>'
                       + '</div>'
                       + '<div id="errorOption%i%"></div>'
                       + '</div>';
    var numberOfOptions=2;
    var MAX_OPTIONS=8;
    var adding=false;

    function AddOption() {
        if(adding || numberOfOptions>=MAX_OPTIONS) return;

        adding=true;
        $("#options").append(optionTemplate.replace(/%i%/g,++numberOfOptions));

        if(numberOfOptions>=MAX_OPTIONS)
            $("#addOptionButton").prop("disabled",true);


        adding=false;
    }

    function RemoveOption() {
        if(numberOfOptions>=2) {
            $("#options .form-group").last().remove();
            numberOfOptions--;
            if(numberOfOptions<MAX_OPTIONS)
                $("#addOptionButton").prop("disabled",false);
        }
    }

    $('#date').daterangepicker({ minDate: new Date()});
    let $select2 = $('#select2');


    [# th:unless="${isAdmin}"]
        $select2.select2({
          placeholder: "Select a category",
          theme: 'bootstrap4'
        });
    [/]

    [# th:if="${isAdmin}"]
        $select2.select2({
          placeholder: "Select a category",
          theme: 'bootstrap4',
          tags : true
        });
        let categories = Array.from($select2.get(0).children).filter( e => e.textContent.trim() !== "")
                                                                  .map( (e) => {return e.value});

        function deleteLatestEntry() {
            let select = $select2.get(0);
            select[select.selectedIndex].remove();
            $select2.val(null).trigger('change');
        }

        function errorOnCreate() {
            deleteLatestEntry();
            Swal.fire(
              'An error has occurred.',
              'Your category could not be created.',
              'error'
            )
        }

        function succesfullCreation() {
            Swal.fire(
              'Success!',
              'Your category was created and may now be used!',
              'success'
            )
        }

        function createCategoryRequest(chosen) {
            $.ajax({
              url: "/mvc/category/ajax/create",
              method: "POST",
              data: { name: chosen }
            }).done(function(data) {
                try {
                    data = JSON.parse(data);
                    if(data && data.type==="success"){
                        let select = $select2.get(0);
                        select[select.selectedIndex].value = data.id;
                        categories.push(data.id);
                        succesfullCreation();
                    }
                }
                catch(e) {
                    console.log(e);
                    errorOnCreate();
                }
            });

        }

        function createCategory(result) {
          if (result.value) {
            createCategoryRequest($select2.val());
          } else {
            deleteLatestEntry();
          }
        }

       function fireCreationAlert() {
            if($select2.val() != null && $select2.val().trim() !== "" && !categories.includes($select2.val())) {
                Swal.fire({
                  title: "This category doesn't exist",
                  text: "Do you wish to create it?",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Create Category'
                }).then(createCategory);
            }
       }

       $select2.on("change", fireCreationAlert);
    [/]
</script>
</body>
</html>
