<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org/">
<head>
    <title>View Poll</title>
    <th:block th:include="shared/head :: head"></th:block>
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Select2 -->
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block th:include="shared/header :: header"></th:block>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">View poll</h1>
                    </div>
                    <!--                    <div class="col-sm-6">-->
                    <!--                        <ol class="breadcrumb float-sm-right">-->
                    <!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                    <!--                            <li class="breadcrumb-item active">Dashboard v1</li>-->
                    <!--                        </ol>-->
                    <!--                    </div>&lt;!&ndash; /.col &ndash;&gt;-->
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" th:object="${poll}">
                            <div class="card-header">
                                <h3 class="card-title" th:text="*{name}">
                                    Poll Name
                                </h3><br>
                                <a th:href="@{/mvc/category/{id}(id=*{categoryId})}" th:text="*{categoryName}"></a>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-12" style="margin-bottom:10px;">
                                    <b>Description:</b>
                                    <th:block th:text="*{description}"></th:block>
                                </div>
                                <th:block th:if="${(!canVote && !locked) || (!authenticated && !locked)}">
                                    <th:block th:include="poll/_votes :: disabledvote"></th:block>
                                </th:block>
                                <th:block th:if="${(!voted && canVote) && authenticated}">
                                    <th:block th:include="poll/_votes :: vote"></th:block>
                                </th:block>
                                <th:block th:if="${(voted || locked)}">
                                    <th:block th:include="poll/_votes :: votesAnswers"></th:block>
                                </th:block>
                            </div>


                            <div class="card-footer">
                                <span>
                                    <th:block th:text="*{initialDate}"></th:block>
                                     -
                                    <th:block th:text="*{endDate}"></th:block>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block th:include="shared/footer :: footer"></th:block>

</div>
<th:block th:include="shared/script :: script"></th:block>
</body>
</html>
