<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="poll">
            <h2><span>Poll</span> {{poll.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{poll.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{poll.description}}</span>
                </dd>
                <dt><span>Initial Date</span></dt>
                <dd>
                    <span>{{poll.initialDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{poll.endDate}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{poll.userLogin}}
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <div *ngIf="poll.categoryId">
                        <a [routerLink]="['/category', poll.categoryId, 'view']">{{poll.categoryName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/poll', poll.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
