<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="option">
            <h2><span>Option</span> {{option.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{option.name}}</span>
                </dd>
                <dt><span>Poll</span></dt>
                <dd>
                    <div *ngIf="option.pollId">
                        <a [routerLink]="['/poll', option.pollId, 'view']">{{option.pollName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/option', option.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
