<div>
    <h2 id="page-heading">
        <span>Options</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-option" [routerLink]="['/option/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Option
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="options?.length === 0">
        <span>No options found</span>
    </div>
    <div class="table-responsive" *ngIf="options?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Poll</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let option of options ;trackBy: trackId">
                <td><a [routerLink]="['/option', option.id, 'view' ]">{{option.id}}</a></td>
                <td>{{option.name}}</td>
                <td>
                    <div *ngIf="option.pollId">
                        <a [routerLink]="['/poll', option.pollId , 'view' ]" >{{option.pollName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/option', option.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/option', option.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/option', { outlets: { popup: option.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
