<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org/">
<head>
    <title th:text="${user.login}">Home</title>
    <th:block th:include="shared/head :: head"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block th:include="shared/header :: header"></th:block>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark" th:text="${user.login}">Page Name</h1>
                    </div>
                    <!--                    <div class="col-sm-6">-->
                    <!--                        <ol class="breadcrumb float-sm-right">-->
                    <!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                    <!--                            <li class="breadcrumb-item active">Dashboard v1</li>-->
                    <!--                        </ol>-->
                    <!--                    </div>&lt;!&ndash; /.col &ndash;&gt;-->
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-info">
                                <h3 class="widget-user-username" th:text="${user.getFullName()}">Alexander Pierce</h3>
                                <h5 class="widget-user-desc" th:text="${user.login}">Founder &amp; CEO</h5>
                            </div>
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" th:src="${'/userProfile/'+ (user.imageUrl!=null && !user.imageUrl.trim().isEmpty() ? user.imageUrl : 'user.png')}" alt="User Avatar">
                            </div>
                            <div class="card-footer">
<!--                                <div class="row">-->
<!--                                    <div class="col-sm-4 border-right">-->
<!--                                        <div class="description-block">-->
<!--                                            <h5 class="description-header">3,200</h5>-->
<!--                                            <span class="description-text">SALES</span>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; /.description-block &ndash;&gt;-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; /.col &ndash;&gt;-->
<!--                                    <div class="col-sm-4 border-right">-->
<!--                                        <div class="description-block">-->
<!--                                            <h5 class="description-header">13,000</h5>-->
<!--                                            <span class="description-text">FOLLOWERS</span>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; /.description-block &ndash;&gt;-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; /.col &ndash;&gt;-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <div class="description-block">-->
<!--                                            <h5 class="description-header">35</h5>-->
<!--                                            <span class="description-text">PRODUCTS</span>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; /.description-block &ndash;&gt;-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; /.col &ndash;&gt;-->
<!--                                </div>-->
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                Change Profile Picture
                            </div>
                            <div class="card-body">
                                <form action="/mvc/changepicture" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" name="file" class="custom-file-input" id="file" accept="image/x-png,image/jpeg">
                                            <label class="custom-file-label" for="file">Choose image</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Submit" id="changePicture">
                                    </div>
                                </form>
                                <div class="progress" id="progress" style="display:none;">
                                    <div class="progress-bar bg-primary progress-bar-striped" id="progressBar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                                <span id="progressPerc" class="text-primary"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block th:include="shared/footer :: footer"></th:block>

</div>
<th:block th:include="shared/script :: script"></th:block>
<script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script>
    $(document).ready(function(){
        bsCustomFileInput.init();

        $('#changePicture').click(function(e) {
            e.preventDefault();

            var form = $(this).closest("form").get()[0];
            var formData = new FormData(form);

            $(this).closest("form").find("input").each(function(e){
                $(this).prop('disabled',true);
            });

            // Ajax call for file uploading
            var ajaxReq = $.ajax({
              url : '/mvc/changepicture',
              type : 'POST',
              data : formData,
              cache : false,
              contentType : false,
              processData : false,
              xhr: function(){
                //Get XmlHttpRequest object
                 var xhr = $.ajaxSettings.xhr() ;

                //Set onprogress event handler
                 xhr.upload.onprogress = function(event){
                    var perc = Math.round((event.loaded / event.total) * 100);
                    console.log(perc);
                    $('#progressBar').css('width',perc + '%');
                    $('#progressPerc').text(perc + '%');
                 };
                 return xhr ;
                },
                beforeSend: function( xhr ) {
                        $('#progress').show();
                        $('#progressBar').css('width',0 + '%');
                        $('#progressPerc').text(0 + '%');
                      }
            });

            // Called on success of file upload
            ajaxReq.done(function(msg) {
                if(msg==200)
                    progressSuccess();
                else
                    progressFailure();
            });

            // Called on failure of file upload
            ajaxReq.fail(function(jqXHR) {
                progressFailure();
            });
          });

        function progressFailure() {
            $('#progressPerc').text("Failed!");
            $('#progressPerc').removeClass('text-primary').addClass('text-danger');
            $('#progressBar').removeClass('bg-primary').addClass('bg-danger');
            waitAndRefresh(1);
        }

        function progressSuccess() {
            $('#progressPerc').text("Done!");
            $('#progressPerc').removeClass('text-primary').addClass('text-success');
            $('#progressBar').removeClass('bg-primary').addClass('bg-success');
            waitAndRefresh(1);
        }

        function waitAndRefresh(seconds) {
            setTimeout(function(){location.reload();}, seconds * 1000);
        }
    });
</script>
</body>
</html>
