<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org/">
<head>
    <title>Categories</title>
    <th:block th:include="shared/head :: head"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block th:include="shared/header :: header"></th:block>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Categories</h1>
                    </div>
                    <!--                    <div class="col-sm-6">-->
                    <!--                        <ol class="breadcrumb float-sm-right">-->
                    <!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                    <!--                            <li class="breadcrumb-item active">Dashboard v1</li>-->
                    <!--                        </ol>-->
                    <!--                    </div>&lt;!&ndash; /.col &ndash;&gt;-->
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" th:each="category : ${categories}">
                        <div class="card" th:object="${category}">

                            <div class="card-header">
                                <a th:href="@{/mvc/category/{id}(id=*{id})}">
                                    <h3 class="card-title">
                                        <i class="fas fa-folder-open"></i>
                                        <th:block th:text="*{name}"></th:block>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <th:block th:include="shared/pagination :: pagination"></th:block>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block th:include="shared/footer :: footer"></th:block>

</div>
<th:block th:include="shared/script :: script"></th:block>
</body>
</html>
