<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org/">
<head>
    <title>View Category</title>
    <th:block th:include="shared/head :: head"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block th:include="shared/header :: header"></th:block>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Category</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/mvc/category">Categories</a></li>
                            <li class="breadcrumb-item active" th:text="${category.name}"></li>
                        </ol>
                    </div>
                </div>
             </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card" th:object="${category}">
                            <div class="card-header">
                                Category Name : <span th:text="*{name}"></span>
                            </div>
                            <div class="card-footer" th:if="${authenticated && isAdmin}">
                                <a th:href="@{/mvc/category/{id}/edit(id=*{id})}" class="btn btn-sm btn-primary">Edit</a>
                                <form class="float-right" method="post" th:action="@{/mvc/category/{id}/delete(id=*{id})}">
                                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h1>Polls</h1>
                    </div>
                    <div class="col-md-12 text-center" th:if="${polls==null || polls.size()==0}">
                        <h3 class="text-muted">No polls to show</h3>
                    </div>
                    <th:block th:unless="${polls==null || polls.size()==0}">
                        <div class="col-md-4" th:each="poll : ${polls}">
                            <div class="card" th:object="${poll}">
                                <div class="card-header">
                                    <a th:href="@{/mvc/poll/{id}(id=*{id})}">
                                        <i class="fas fa-poll"></i>
                                        <span th:text="*{name}"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <th:block th:include="shared/pagination :: pagination"></th:block>
                        </div>
                    </th:block>

                    <div class="col-md-12">
                        <h1>Statistics</h1>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-primary"><i class="fas fa-poll"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Polls</span>
                                <span class="info-box-number" th:text="${statsPolls}">1,410</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-success"><i class="fas fa-comment-alt"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Options</span>
                                <span class="info-box-number" th:text="${statsOptions}">1,410</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-danger"><i class="fas fa-vote-yea"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Votes</span>
                                <span class="info-box-number" th:text="${statsVotes}">1,410</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block th:include="shared/footer :: footer"></th:block>

</div>
<th:block th:include="shared/script :: script"></th:block>
</body>
</html>
