<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org/">
<head>
    <title th:text="${errorCode}">Home</title>
    <th:block th:include="shared/head :: head"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block th:include="shared/header :: header"></th:block>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark" th:text="${errorCode}"></h1>
                    </div>
                    <!--                    <div class="col-sm-6">-->
                    <!--                        <ol class="breadcrumb float-sm-right">-->
                    <!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                    <!--                            <li class="breadcrumb-item active">Dashboard v1</li>-->
                    <!--                        </ol>-->
                    <!--                    </div>&lt;!&ndash; /.col &ndash;&gt;-->
                </div>
            </div>
        </div>

        <section class="content">
            <div class="error-page">
                <h2 class="headline text-warning" th:text="${errorCode}"> 404</h2>

                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i>
                        <span th:text="${errorMessage}">
                            Oops! Page not found.
                        </span>
                    </h3>
                    <th:block th:if="${errorCode==404}">
                        <p>
                            We could not find the page you were looking for.
                        </p>
                    </th:block>
                    <th:block th:if="${errorCode==500}">
                        <p>An internal server error has occured.</p>
                    </th:block>
                    <p>Return to the <a href="/mvc">Homepage</a></p>
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
    </div>

    <th:block th:include="shared/footer :: footer"></th:block>

</div>
<th:block th:include="shared/script :: script"></th:block>
</body>
</html>
