<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org/">
<head>
    <title th:text="${pageName}">Home</title>
    <th:block th:include="shared/head :: head"></th:block>
    <style>
        table.polls tbody tr {
            cursor: pointer;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block th:include="shared/header :: header"></th:block>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark" th:text="${pageName}">Recent Polls</h1>
                    </div>
<!--                    <div class="col-sm-6">-->
<!--                        <ol class="breadcrumb float-sm-right">-->
<!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--                            <li class="breadcrumb-item active">Dashboard v1</li>-->
<!--                        </ol>-->
<!--                    </div>&lt;!&ndash; /.col &ndash;&gt;-->
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center" th:if="${polls==null || polls.size()==0}">
                        <h3 class="text-muted">No polls to show</h3>
                    </div>
                    <th:block th:unless="${polls==null || polls.size()==0}">
                        <div class="col-md-12">
                            <th:block th:include="poll/_searchPolls :: searchPolls"></th:block>
                            <th:block th:include="shared/paginationSize :: paginationSize"></th:block>
                        </div>
                        <div class="col-md-12">
                            <div class="card">

                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover polls">
                                        <thead>
                                        <tr>
                                            <th style="width:25%">Name</th>
                                            <th style="width:20%">Category</th>
                                            <th style="width:30%">Description</th>
                                            <th style="width:25%">Date of Voting</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="poll : ${polls}" th:object="${poll}">
                                                <td>
                                                    <a th:text="*{name}" th:href="@{/mvc/poll/{id}(id=*{id})}">
                                                        Name
                                                    </a>
                                                </td>
                                                <td>
                                                    <a th:text="*{categoryName}" th:href="@{/mvc/category/{id}(id=*{categoryId})}">
                                                        Category
                                                    </a>
                                                </td>
                                                <td th:text="*{description}">Description</td>
                                                <td>
                                                    From
                                                    <span th:text="*{initialDate}"></span>
                                                    to
                                                    <span th:text="*{endDate}"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <th:block th:include="shared/pagination :: pagination"></th:block>
                        </div>
                    </th:block>
                </div>
            </div>
        </section>
    </div>

    <th:block th:include="shared/footer :: footer"></th:block>

</div>
    <th:block th:include="shared/script :: script"></th:block>
</body>
</html>
