<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org/">
<head>
    <title>Statistics</title>
    <th:block th:include="shared/head :: head"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <th:block th:include="shared/header :: header"></th:block>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Statistics</h1>
                    </div>
<!--                    <div class="col-sm-6">-->
<!--                        <ol class="breadcrumb float-sm-right">-->
<!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--                            <li class="breadcrumb-item active">Dashboard v1</li>-->
<!--                        </ol>-->
<!--                    </div>&lt;!&ndash; /.col &ndash;&gt;-->
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-primary"><i class="fas fa-poll"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Polls</span>
                                <span class="info-box-number" th:text="${polls}">1,410</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-success"><i class="fas fa-comment-alt"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Options</span>
                                <span class="info-box-number" th:text="${options}">1,410</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-warning"><i class="fas fa-folder-open"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Categories</span>
                                <span class="info-box-number" th:text="${categories}">1,410</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-danger"><i class="fas fa-vote-yea"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Votes</span>
                                <span class="info-box-number" th:text="${votes}">1,410</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-primary"><i class="fas fa-users"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Users</span>
                                <span class="info-box-number" th:text="${users}">1,410</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-success"><i class="fas fa-sign-in-alt"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Daily Logins</span>
                                <span class="info-box-number" th:text="${dailyLogins}">1,410</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-warning"><i class="fas fa-sign-in-alt"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Unique daily Logins</span>
                                <span class="info-box-number" th:text="${uniqueDailyLogins}">1,410</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col-md-6 offset-md-3">
                        <div class="card-header">
                            <h3 class="card-title">Popular Categories</h3>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart" style="height:230px; min-height:230px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block th:include="shared/footer :: footer"></th:block>

</div>
    <th:block th:include="shared/script :: script"></th:block>
    <script src="/plugins/chart.js/Chart.min.js"></script>
<script th:inline="javascript">

    /*<![CDATA[*/

    var categories = [[${categoriesList}]];
    var percentage = [[${categoriesPercentage}]];
    var numberOfPolls = [[${polls}]];

    /*]]>*/
    console.log(categories);
    console.log(percentage);
    console.log(numberOfPolls);
    var categoriesForDonut = new Array();
    var percentageForDonut = new Array();
    let count = 0;
    categories.forEach(e => {
            if(percentage[e.id]!=0) {
                categoriesForDonut.push(e.name);
                percentageForDonut.push(percentage[e.id]);
                count+=percentage[e.id];
            }
            });

    if(numberOfPolls-count!=0) {
        categoriesForDonut.push("Others");
        percentageForDonut.push(numberOfPolls-count);
    }


    //-------------
    //- DONUT CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData        = {
      labels: categoriesForDonut,
      datasets: [
        {
          data: percentageForDonut,
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de', '#6f7275'],
        }
      ]
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var donutChart = new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })

</script>
</body>
</html>
