<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">Poll is locked</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p>
   Poll : <span th:text="${poll.name}"></span> , has been locked
</p>
   <th:block th:if="${option!=null}">
       <p>
           Winning Option: <span th:text="${option.name}"></span>
            -
           <span th:text="${optionPercentage}"></span> %
       </p>
   </th:block>
<p>
    <a th:with="url=(@{|${baseUrl}/mvc/poll/${poll.id}|})" th:href="${url}"
       th:text="${url}">Activation link</a>
</p>
</body>
</html>
