<th:block th:fragment="header">

    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

<!--        &lt;!&ndash; SEARCH FORM &ndash;&gt;-->
<!--        <form class="form-inline ml-3">-->
<!--            <div class="input-group input-group-sm">-->
<!--                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">-->
<!--                <div class="input-group-append">-->
<!--                    <button class="btn btn-navbar" type="submit">-->
<!--                        <i class="fas fa-search"></i>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->

<!--        &lt;!&ndash; Right navbar links &ndash;&gt;-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--            &lt;!&ndash; Messages Dropdown Menu &ndash;&gt;-->
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link" data-toggle="dropdown" href="#">-->
<!--                    <i class="far fa-comments"></i>-->
<!--                    <span class="badge badge-danger navbar-badge">3</span>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">-->
<!--                    <a href="#" class="dropdown-item">-->
<!--                        &lt;!&ndash; Message Start &ndash;&gt;-->
<!--                        <div class="media">-->
<!--                            <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">-->
<!--                            <div class="media-body">-->
<!--                                <h3 class="dropdown-item-title">-->
<!--                                    Brad Diesel-->
<!--                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>-->
<!--                                </h3>-->
<!--                                <p class="text-sm">Call me whenever you can...</p>-->
<!--                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Message End &ndash;&gt;-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item">-->
<!--                        &lt;!&ndash; Message Start &ndash;&gt;-->
<!--                        <div class="media">-->
<!--                            <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">-->
<!--                            <div class="media-body">-->
<!--                                <h3 class="dropdown-item-title">-->
<!--                                    John Pierce-->
<!--                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>-->
<!--                                </h3>-->
<!--                                <p class="text-sm">I got your message bro</p>-->
<!--                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Message End &ndash;&gt;-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item">-->
<!--                        &lt;!&ndash; Message Start &ndash;&gt;-->
<!--                        <div class="media">-->
<!--                            <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">-->
<!--                            <div class="media-body">-->
<!--                                <h3 class="dropdown-item-title">-->
<!--                                    Nora Silvester-->
<!--                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>-->
<!--                                </h3>-->
<!--                                <p class="text-sm">The subject goes here</p>-->
<!--                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Message End &ndash;&gt;-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            &lt;!&ndash; Notifications Dropdown Menu &ndash;&gt;-->
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link" data-toggle="dropdown" href="#">-->
<!--                    <i class="far fa-bell"></i>-->
<!--                    <span class="badge badge-warning navbar-badge">15</span>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">-->
<!--                    <span class="dropdown-item dropdown-header">15 Notifications</span>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item">-->
<!--                        <i class="fas fa-envelope mr-2"></i> 4 new messages-->
<!--                        <span class="float-right text-muted text-sm">3 mins</span>-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item">-->
<!--                        <i class="fas fa-users mr-2"></i> 8 friend requests-->
<!--                        <span class="float-right text-muted text-sm">12 hours</span>-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item">-->
<!--                        <i class="fas fa-file mr-2"></i> 3 new reports-->
<!--                        <span class="float-right text-muted text-sm">2 days</span>-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">-->
<!--                    <i class="fas fa-th-large"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
    </nav>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/mvc" class="brand-link">
            <img src="/dist/img/voteLogo.png" alt="OVS Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Online Voting System</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <th:block th:if="${authenticated}">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img th:src="${'/userProfile/'+ (user.imageUrl!=null && !user.imageUrl.trim().isEmpty() ? user.imageUrl : 'user.png')}" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info" >
                        <div><a href="/mvc/profile" class="d-block text-white" id="userName" th:text="${user.getFullName()}"></a></div>
                        <a href="/mvc/logout"><i style="margin-top:10px;" class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </th:block>

            <th:block th:unless="${authenticated}">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/dist/img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info" style="width:100%;">
                        <a href="/mvc/login">
                            <span class="d-block text-white">Sign in</span>
                        </a>
                    </div>
                </div>
            </th:block>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item" th:if="${authenticated}">
                        <a href="/mvc/poll/create" class="nav-link" th:classappend="${#request.requestURI == '/mvc/poll/create' ? 'active':''}">
                            <i class="nav-icon fas fa-poll"></i>
                            <p>
                                Create Poll
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview" th:classappend="${(#request.requestURI.startsWith('/mvc/ActivePolls') ||
                                                                                #request.requestURI.startsWith('/mvc/FuturePolls') ||
                                                                                #request.requestURI.startsWith('/mvc/PastPolls') ||
                                                                                #request.requestURI.startsWith('/mvc/AnsweredPolls') ||
                                                                                #request.requestURI.startsWith('/mvc/UnansweredPolls') ) ? 'menu-open':''}">
                        <a href="#" class="nav-link" th:classappend="${(#request.requestURI.startsWith('/mvc/ActivePolls') ||
                                                                                #request.requestURI.startsWith('/mvc/FuturePolls') ||
                                                                                #request.requestURI.startsWith('/mvc/PastPolls') ||
                                                                                #request.requestURI.startsWith('/mvc/AnsweredPolls') ||
                                                                                #request.requestURI.startsWith('/mvc/UnansweredPolls') ) ? 'active':''}">
                            <i class="nav-icon fas fa-poll"></i>
                            <p>
                                Polls
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/mvc/ActivePolls" class="nav-link" th:classappend="${(#request.requestURI.startsWith('/mvc/ActivePolls')) ? 'active':''}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Active Polls</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/mvc/FuturePolls" class="nav-link" th:classappend="${(#request.requestURI.startsWith('/mvc/FuturePolls')) ? 'active':''}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Future Polls</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/mvc/PastPolls" class="nav-link" th:classappend="${(#request.requestURI.startsWith('/mvc/PastPolls')) ? 'active':''}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Past Polls</p>
                                </a>
                            </li>
                            <li class="nav-item" th:if="${authenticated}">
                                <a href="/mvc/UnansweredPolls" class="nav-link" th:classappend="${(#request.requestURI.startsWith('/mvc/UnansweredPolls')) ? 'active':''}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Unanswered Polls</p>
                                </a>
                            </li>
                            <li class="nav-item" th:if="${authenticated}">
                                <a href="/mvc/AnsweredPolls" class="nav-link" th:classappend="${(#request.requestURI.startsWith('/mvc/AnsweredPolls')) ? 'active':''}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Answered Polls</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/mvc/category" class="nav-link" th:classappend="${(#request.requestURI == '/mvc/category') ? 'active':''}">
                            <i class="fas fa-folder-open"></i>
                            <p>
                                Categories
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview" th:if="${authenticated && isAdmin}">
                        <a href="#" class="nav-link" th:classappend="${(#request.requestURI.startsWith('/mvc/category/')) ? 'active':''}">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                Management
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/mvc/category/create" class="nav-link" th:classappend="${(#request.requestURI == '/mvc/category/create') ? 'active':''}">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Create Category</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/mvc/Statistics" class="nav-link" th:classappend="${(#request.requestURI.startsWith('/mvc/Statistics')) ? 'active':''}">
                            <i class="nav-icon fas fa-chart-bar"></i>
                            <p>
                                Statistics
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</th:block>
