<th:block th:fragment="paginationSize" >
    <div class="pagination">
    <select class="custom-select paginationSize" id="paginationSize" th:with="pageSize = ${ pageSize!=null ? pageSize :
                                                                                                      #httpServletRequest.getParameter('size')!=null &&
                                                                                                      #httpServletRequest.getParameter('size').matches('[0-9]{1,}') ? #httpServletRequest.getParameter('size') :
                                                                                                      20}">
        <option value="10"
                th:selected="${pageSize==10}">10</option>
        <option value="20"
                th:selected="${pageSize==20 || pageSize==null}">20</option>
        <option value="100"
                th:selected="${pageSize==100}">100</option>
        <option th:value="${pageSize}"
                th:text="${pageSize}"
                th:if="${pageSize != 10 && pageSize != 20 && pageSize != 100 && pageSize != null}"
                th:selected="${pageSize != 10 && pageSize != 20 && pageSize != 100 && pageSize != null}"
                disabled hidden>
            custom
        </option>
    </select>
    <span>items per page</span>
</div>
</th:block>
