<th:block th:fragment="pagination" >
    <nav aria-label="..." class="text-center" th:with="url=${#httpServletRequest.requestURI + (#httpServletRequest.queryString!=null ? '?'+#httpServletRequest.queryString.replaceAll('(?:page=\d+&?)|(?:&?page=\d+)','') : '') }">
        <ul class="pagination">
            <li class="page-item" th:if="${paginationCurrent!=0}">
                <a class="page-link" th:href="@{${url}(page=0)}">
                    First
                </a>
            </li>
            <li class="page-item disabled" th:unless="${paginationPrev!=null}">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item" th:if="${paginationPrev!=null}">
                <a class="page-link" th:href="@{${url}(page=${paginationPrev})}">
                    Previous
                </a>
            </li>
            <li class="page-item disabled" th:if="${paginationCurrent-2>0}">
              <span class="page-link">
                ...
              </span>
            </li>
            <li class="page-item" th:if="${paginationCurrent-1>0}">
                <a class="page-link"
                   th:text="${paginationCurrent-1}"
                   th:href="@{${url}(page=${paginationCurrent-2})}"
                >1</a>
            </li>
            <li class="page-item" th:if="${paginationCurrent>0}">
                <a class="page-link"
                   th:text="${paginationCurrent}"
                   th:href="@{${url}(page=${paginationCurrent-1})}"
                >1</a>
            </li>
            <li class="page-item active">
              <span class="page-link">
                <th:block th:text="${paginationCurrent+1}" ></th:block>
                <span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item" th:if="${paginationCurrent+1<=paginationLast}">
                <a class="page-link"
                   th:text="${paginationCurrent+2}"
                   th:href="@{${url}(page=${paginationCurrent+1})}"
                >1</a>
            </li>
            <li class="page-item" th:if="${paginationCurrent+2<=paginationLast}">
                <a class="page-link"
                   th:text="${paginationCurrent+3}"
                   th:href="@{${url}(page=${paginationCurrent+2})}"
                >1</a>
            </li>
            <li class="page-item disabled" th:if="${paginationCurrent+3<=paginationLast}">
              <span class="page-link">
                <th:block>...</th:block>
              </span>
            </li>
            <li class="page-item disabled" th:unless="${paginationNext!=null}">
                <span class="page-link">Next</span>
            </li>
            <li class="page-item" th:if="${paginationNext!=null}">
                <a class="page-link" th:href="@{${url}(page=${paginationNext})}">
                    Next
                </a>
            </li>
            <li class="page-item" th:if="${paginationCurrent!=paginationLast}">
                <a class="page-link" th:href="@{__${#httpServletRequest.requestURI}__(page=${paginationLast})}">
                    Last
                </a>
            </li>
        </ul>
    </nav>
</th:block>
