<th:block th:fragment="script">
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>


    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
    <script src="/plugins/fitty/fitty.min.js"></script>
    <script src="/plugins/toastr/toastr.min.js"></script>
    <script th:inline="javascript">
        fitty('#userName', {
          minSize: 12,
          maxSize: 300,
          multiLine: false
        });


    /*<![CDATA[*/
        [# th:if="${error!=null}"]
            $(document).ready(function() {toastr.error([[${error}]])});
        [/]
        [# th:if="${success!=null}"]
            $(document).ready(function() {toastr.success([[${success}]])});
        [/]
        [# th:if="${info!=null}"]
            $(document).ready(function() {toastr.info([[${info}]])});
        [/]
        [# th:if="${warning!=null}"]
            $(document).ready(function() {toastr.warning([[${warning}]])});
        [/]
    /*]]>*/
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let pagination = document.getElementById("paginationSize");
            if(pagination==null) return;
            pagination.addEventListener("change", () => {
                if(window.location.search == "") {
                    params = "?size="+pagination.value;
                } else if(window.location.search.match(/size=(\d+)/g)) {
                    params = window.location.search.replace(window.location.search.match(/size=(\d+)/g),"size="+pagination.value);
                } else {
                    params = window.location.search + "&size="+pagination.value;
                }
                params = params.replace(window.location.search.match(/(page=\d+&?)|(&?page=\d+)/g), "");
                window.location.replace(window.location.pathname + params);
            });
        });
    </script>
</th:block>
